@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");

body {
  background-color: #fafafa;
  color: grey;
  font-family: "Poppins", sans-serif;
}

#container {
  background-color: #f5f7fb;
  height: 41rem;
  width: 24rem;
  margin: auto;
  margin-top: 4rem;
  box-shadow: -2px 0px 38px -10px rgba(0, 0, 0, 0.75);
  padding: 2rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.imageContainer img {
  width: 20rem;
}

#line {
  margin: 1rem 0rem 0rem 0rem;
  height: 0.2rem;
  border-style: none;
  background-color: silver;
}

.firstComp {
  display: flex;
  justify-content: space-between;
}

.firstComp i {
  font-size: 1.5rem;
  color: silver;
}

.firstComp h1 {
  font-size: 0.7rem;
  align-self: flex-end;
  margin-top: 0.5rem;
}

.title {
  text-align: center;
  margin: 0rem 0rem 2rem 0rem;
}

.title h1 {
  font-size: 1.2rem;
  color: black;
}

.title p {
  color: black;
  font-size: 0.7rem;
  margin-top: 0.5rem;
}

.musicPlayer {
  display: flex;
  justify-content: space-around;
}

.musicPlayer i {
  font-size: 2rem;
  padding-top: 1rem;
  color: silver;
  margin-bottom: 1rem;
}

#playButton {
  color: grey;
  font-size: 4rem;
  margin-top: -0.7rem;
}

#dotCurrent {
  font-size: 0.3rem;
  color: blue;
  margin-top: 0.7rem;
  margin-right: -0.4rem;
}

.song,
#musicDetail {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0rem 2rem 0rem;
}

.song {
  font-size: 1.2rem;
  color: grey;
}

#currentPlay {
  color: black;
}
